body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.logo {
    height: 40px;
}

.book-button {
    background-color: #07c965;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

/* Hero Section */
.hero {
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 700;
}

/* Sections */
.section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    color: #079b35;
    margin-bottom: 10px;
}

.section p {
    line-height: 1.6;
    font-size: 1rem;
}

.section a {
    color: #079b35;
    text-decoration: none;
    font-weight: 500;
}

/* Menu Icon */
.menu-icon {
    font-size: 28px;
    color: #333;
    cursor: pointer;
    margin-left: 20px;
}
