{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Turf</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <h2>Edit Turf</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label>Name:</label>
        <input type="text" name="name" value="{{ turf.name }}" required><br>

        <label>Location:</label>
        <input type="text" name="location" value="{{ turf.location }}" required><br>

        <label>Sport Type:</label>
        <select name="sport_type" required>
            <option value="Football" {% if turf.sport_types == 'Football' %}selected{% endif %}>Football</option>
            <option value="Cricket" {% if turf.sport_types == 'Cricket' %}selected{% endif %}>Cricket</option>
        </select><br>
        
        <label>Open Time:</label>
        <input type="time" name="open_time" value="{{ turf.open_time|time:'H:i' }}" required><br>
        
        <label>Close Time:</label>
        <input type="time" name="close_time" value="{{ turf.close_time|time:'H:i' }}" required><br>
        
        <label>Price per Hour:</label>
        <input type="number" name="price" step="0.01" min="0" value="{{ turf.price }}" required><br>
        
        <label>Image:</label>
        <input type="file" name="image"><br>
        {% if turf.images %}
            <img src="{{ turf.images.url }}" alt="{{ turf.name }}" width="100"><br>
        {% endif %}
        
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'admin_index' %}">Cancel</a>
</body>
</html>