<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Bookings</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endcomment %}
</head>
<body>

    <h1>Recent Bookings</h1>
    
    <a href="{% url 'admin_index' %}"><button>Back to Dashboard</button></a>

    <table>
        <tr>
            <th>User</th>
            <th>Turf</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.user.username }}</td>
            <td>{{ booking.slot.turf.name }}</td>
            <td>{{ booking.slot.turf.location }}</td>
            <td>{{ booking.slot.date }}</td>
            <td>{{ booking.slot.start_time|time:"h:i A" }} - {{ booking.slot.end_time|time:"h:i A" }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
